<nav class="navbar navbar-expand-lg text-light bg-dark">
  <div class="container-fluid">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="64" height="64" viewBox="0 0 64 64"
      style="fill: #000000">
      <g data-name="23 Toxic">
        <path fill="#7ee56e"
          d="M48.409,26.488l-6.818-3.976A5.8,5.8,0,0,1,39,18V11h1a2.006,2.006,0,0,0,2-2V3a2.006,2.006,0,0,0-2-2H24a2.006,2.006,0,0,0-2,2V9a2.006,2.006,0,0,0,2,2h1v7a5.8,5.8,0,0,1-2.591,4.512l-6.818,3.976A5.8,5.8,0,0,0,13,31V60a3.009,3.009,0,0,0,3,3H48a3.009,3.009,0,0,0,3-3V31A5.8,5.8,0,0,0,48.409,26.488Z">
        </path>
        <rect width="20" height="10" x="22" y="1" fill="#fff" rx="2"></rect>
        <path fill="#fff" d="M32,27a8,8,0,0,0-8,8c0,4,4,4,4,6a4,4,0,0,0,8,0c0-2,4-2,4-6A8,8,0,0,0,32,27Z"></path>
        <path fill="#fff" d="M39,57a2,2,0,0,0,.789-3.839l-14-6a2,2,0,0,0-1.576,3.676l14,6A2,2,0,0,0,39,57Z"></path>
        <path fill="#66cf59" d="M37.076,52l2.712-1.162a2,2,0,1,0-1.576-3.676L32,49.824Z"></path>
        <path fill="#66cf59" d="M26.924,52l-2.712,1.162a2,2,0,1,0,1.576,3.676L32,54.176Z"></path>
        <g>
          <path fill="#0e8e35"
            d="M48.913,25.624,42.1,21.648A4.825,4.825,0,0,1,40,18V12a3,3,0,0,0,3-3V3a3,3,0,0,0-3-3H24a3,3,0,0,0-3,3V9a3,3,0,0,0,3,3v6a4.825,4.825,0,0,1-2.095,3.648l-6.818,3.976A6.793,6.793,0,0,0,12,31V60a4,4,0,0,0,4,4H48a4,4,0,0,0,4-4V31A6.793,6.793,0,0,0,48.913,25.624ZM23,9V3a1,1,0,0,1,1-1H40a1,1,0,0,1,1,1V9a1,1,0,0,1-1,1H24A1,1,0,0,1,23,9ZM50,60a2,2,0,0,1-2,2H16a2,2,0,0,1-2-2V31A4.825,4.825,0,0,1,16.1,27.352l6.818-3.976A6.793,6.793,0,0,0,26,18V12H38v6a6.793,6.793,0,0,0,3.087,5.376l6.818,3.976A4.825,4.825,0,0,1,50,31Z">
          </path>
          <path fill="#0e8e35" d="M30,8a1,1,0,0,0,1-1V5a1,1,0,0,0-2,0V7A1,1,0,0,0,30,8Z"></path>
          <path fill="#0e8e35" d="M26,8a1,1,0,0,0,1-1V5a1,1,0,0,0-2,0V7A1,1,0,0,0,26,8Z"></path>
          <path fill="#0e8e35" d="M34,8a1,1,0,0,0,1-1V5a1,1,0,0,0-2,0V7A1,1,0,0,0,34,8Z"></path>
          <path fill="#0e8e35" d="M38,8a1,1,0,0,0,1-1V5a1,1,0,0,0-2,0V7A1,1,0,0,0,38,8Z"></path>
          <path fill="#0e8e35"
            d="M25.932,39.935C26.594,40.4,27,40.7,27,41a5,5,0,0,0,10,0c0-.3.406-.6,1.068-1.065A5.657,5.657,0,0,0,41,35a9,9,0,0,0-18,0A5.657,5.657,0,0,0,25.932,39.935ZM32,28a7.008,7.008,0,0,1,7,7c0,1.825-1.014,2.542-2.087,3.3C36.016,38.935,35,39.654,35,41a3,3,0,0,1-6,0c0-1.346-1.016-2.065-1.913-2.7C26.014,37.542,25,36.825,25,35A7.008,7.008,0,0,1,32,28Z">
          </path>
          <path fill="#0e8e35" d="M34,37h1a1,1,0,0,0,0-2H34a1,1,0,0,0,0,2Z"></path>
          <path fill="#0e8e35" d="M29,37h1a1,1,0,0,0,0-2H29a1,1,0,0,0,0,2Z"></path>
          <path fill="#0e8e35"
            d="M40.182,52.243,39.614,52l.567-.243a3,3,0,1,0-2.363-5.514L32,48.736l-5.818-2.493a3,3,0,1,0-2.364,5.514l.568.243-.567.243a3,3,0,1,0,2.363,5.514L32,55.264l5.818,2.493a3,3,0,1,0,2.364-5.514Zm-1.575-4.162a1.011,1.011,0,0,1,1.312.524,1,1,0,0,1-.525,1.314l-2.318.993-2.538-1.088ZM25.393,55.919a1.01,1.01,0,0,1-1.312-.524,1,1,0,0,1,.525-1.314l2.318-.993,2.538,1.088Zm14.526-.525a1.008,1.008,0,0,1-1.313.525l-14-6a1,1,0,1,1,.788-1.838l14,6a1,1,0,0,1,.525,1.313Z">
          </path>
        </g>
      </g>
    </svg>
    <a class="navbar-brand text-light">Gestion Drugs</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" routerLink="/drugs"
            *ngIf="authService.isloggedIn">Home</a>
        </li>
        <li class="nav-item dropdown text-light">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false" *ngIf="authService.isloggedIn">
            Drugs
          </a>
          <ul class="dropdown-menu">
            <li>
              <a *ngIf="authService.isAdmin()" class="dropdown-item" routerLink="add-drugs">Add Drug</a>
            </li>
            <li><a class="dropdown-item" routerLink="/drugs">Display</a></li>
            <li><a class="dropdown-item" routerLink="search-drugs-class">Class Search</a></li>
            <li><a class="dropdown-item" routerLink="search-name">Name Search</a></li>
            <li><a *ngIf="authService.isAdmin()" class="dropdown-item" routerLink="liste-drugs-class">Drug Class management</a></li>




          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li> <a class="nav-link text-light">{{authService.loggedUser}} </a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Connexion
          </a>
          <ul class="dropdown-menu">
            <a *ngIf="!authService.isloggedIn" class="dropdown-item" routerLink="login">login</a>
            <a *ngIf="authService.isloggedIn" class="dropdown-item" (click)="onlogout()">logout</a>
            <li><a class="dropdown-item" href="#">Profile</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br />
<router-outlet></router-outlet>
